@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family: 'Indie Flower', cursive;
}

.header{
background-color: skyblue;
text-align: center;
padding: 20px;
text-transform: uppercase;
}

ul
{
display:flex;
flex-direction: row;
margin: 0;
padding: 0;
}

li
{
    list-style-type: none;  
    padding:5px; 
}

li:hover{
    background-color: steelblue;
color: white;
}

li:hover a{
    color: white;
}

li a {
    text-decoration: none;
}

.main{
display: flex;
flex-direction: column;
}

.main article{
flex: 3;
flex-direction: row;
padding: 10px;
}

.main aside{
flex: 1;
text-align: center;
}

.col{
    border: 1px, solid, black;
}

.footer{
background-color: slategrey;
text-align: center;
padding: 20px;
font-size: 0.9em;
}

@media(min-width: 640px) {
    body {
        background-color: #ddd;
        }
    .main {
        flex-direction: row;
    }
    ul{
        flex-direction: column;
    }
    li{
        padding:10px;
    }
}
